@page "/AddProject"
@using LifeKanban.Client
@using LifeKanban.Model
@inject ProjectsClient Client

<h3>Add Project</h3>

<div class="row">
    <div class="col-md-4">
        <EditForm Model="@ProjectItem" FormName="AddProject" OnSubmit="OnAddProject" Enhance>
            <div class="mb-3 mt-3">
                <label for="projectName" class="form-label">Project Name</label>
                <InputText id="projectName" class="form-control" @bind-Value="ProjectItem.name"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm] private ProjectItem ProjectItem { get; set; } = new ProjectItem() { id = Guid.Empty, name = string.Empty };

    private void OnAddProject()
    {
        Client.AddProject(ProjectItem);
    }

}