@page "/AddProject"
@using LifeKanban.Client
@using LifeKanban.Model
@using LifeKanban.StateManagement
@inject ProjectsClient Client
@inject ProjectStateService ProjectStateService

<h3>Add Project</h3>

<div class="row">
    <div class="col-md-4">
        <EditForm Model="@ProjectItem" FormName="AddProject" OnValidSubmit=@OnAddProject>
            <div class="mb-3 mt-3">
                <label for="projectName" class="form-label">Project Name</label>
                <InputText id="projectName" class="form-control" @bind-Value="ProjectItem.name"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm] private ProjectItem ProjectItem { get; set; } = new () {name = string.Empty };

    private async void OnAddProject()
    {
        var result = await Client.AddProject(ProjectItem);
        if (result is not null)
        { 
            var project = await Client.GetProjectById(result.Value);

            if (project is not null)
            {
                ProjectItem = project;
                ProjectStateService.NotifyStateChanged();
            }
        }
    }

}